

/* Fonts Linked */

@font-face {
    font-family: 'Aboreto';
    src: url('../fonts/aboreto.ttf') format('truetype');
           }

@font-face {
    font-family: 'Homemade Apple';
    src: url('../fonts/homemade-apple.ttf') format('truetype');
           }

@font-face {
    font-family: Kodchasan;
    src: url('../fonts/kodchasan.ttf') format('truetype');
}           





/* Text Fonts and Styles */

 h1 {
    font-family: 'Homemade Apple', serif;
   }


 .click {
    font-family: 'Homemade Apple', serif;
    line-height: .9;
    align-self: top;
       }


 .about {
    font-family: 'Kodchasan', serif;
       }





 nav {
    font-family: 'Kodchasan', serif;
    }


 nav a {
     text-decoration: none; color: var(--text-color)
      }


 .subtitle {
    font-family: 'Homemade Apple', serif;
    font-size: smaller;
          }


 h2 {
    font-family: 'Aboreto', serif; 
   }


 .description {
    font-family: 'Kodchasan', serif;
             }


 .bio {
    font-family: 'Kodchasan', serif;
     }


 .home-button {
    font-family: 'Kodchasan', serif;
             }
 

 a.home-button {
    text-decoration: none; color: #6A6A6A;
              }


 .question {
    font-family: 'Aboreto', serif;
       }


 .answer-paragraph {
    font-family: 'Kodchasan', serif;
       }


 .footer-text {
    font-family: 'Kodchasan', serif;
       }


 .button {
        font-family: 'Kodchasan', serif;
        }


 a.button {
        text-decoration: none; color: #fff5f5
         }






/* Colors */


 :root {
    --light-pink: #78545A;
    --lightmedium-pink: #9D7279;
    --medium-pink: #B98890;
    --text-color: #FDF8F8;
    --dark-text-color: #FDF8F8;
  }


 nav {
    background-color: var(--dark-text-color)
    }


 section:nth-child(even) {
    background-color: var(--lightmedium-pink);
                        }


 section:nth-child(odd) {
    background-color: var(--light-pink);
                       }


 section.about-header {
    background-color: var(--lightmedium-pink);
        }


 section#faqs {
    background-color: var(--medium-pink);
        }


 html {
    background-color: var(--light-pink);
     }




/* Nav Bar */

 .nav-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1111;
    max-width: none !important;
    position: fixed;
    width: 100%;
    background-color:var(--light-pink);
               }


 .nav-links {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
    justify-content: space-between;
    margin: 10px;
           }


 nav a {
    margin: 0 30px;
    padding: 10px 0;
    position: relative;
      }   


 .navlogo {
    width: 15%;

         }

.light {
    display: none;
        }


 .toggle {
    width: 5%;
        }


 .secondary {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

       }


 .menu {
    display: none;
         }



/* Nav Bar Dropdown*/

nav {
    position: relative;
    overflow: visible; 
}

.dropdown {
    position: fixed;
    top: -1000px; 
    width: 100%;
    left: 0;
    transition: all 1s;
    margin-top: 10px;
}
   

.dropdown.show {
   z-index: 999;
    top: 80px;
    display: block;
    width: 100%;
    left: 0;
    margin-top: 10px;
}

.dropdown-style {
   display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100;
    padding: 20px;
 }

.dropdown-style a {
   font-family: 'Kodchasan', serif;
   text-decoration: none;
   color: var(--text-color);
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;}


nav a {
   width: 50% !important;
 }   


.dropdown-style {
    background-color: rgba(216, 161, 162, 0.85);}


.dropdown-style a:hover {
    background-color: var(--medium-pink);
}

   


/* Main Header */

 .cloud {
    margin: auto;
    display: block;
        }


 .click-here {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 5px;
    margin-left: 150px;
          }


 .tap-here {
    color: var(--text-color);
         }


 .about {
    padding-left: 20px;
          }


 .welcome {
    font-size: 80px;
    color: var(--text-color);
    text-align: center;
    font-weight: normal;
         }


 .click-arrow {
    display: flex;
    flex-direction: row;
          }


 span.click {
    font-size: 40px;
        }


 .tap-here {
    display: flex;
    flex-direction: row;
        }


 .arrow {
    width: 64px;
    align-self: baseline;
    rotate: 25deg;
          }

 .darkarrow {
    display: none;
        }


 .star-1 {
    width: 92px;
    position: absolute;
    top: 242px;
    left: 140px;
        }


 .star-2 {
    transform: scale(1.25);
    position: absolute;
    top: 618px;
    left: 269px;
          }


 .star-3 {
    width: 92px;
    position: absolute;
    top: 699px;
    right: 140px;
           }


 .star-4 {
    transform: scale(1.2);
    width: 92px;
    position: absolute;
    top: 200px;
    right: 200px;
            }


 .star-5 {
    transform: scale(0.5);
    position: absolute;
    top: 375px;
    right: 100px;
             }







/* Section Gallery */

 .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: var(--dark-text-color);
         }   

        
 .subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: var(--dark-text-color);
        }


 .gallery-image {
    width: 30%;
              }


 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
        }   


 .description {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    color: var(--dark-text-color);
         }





/* Responsive Frog Design */

 .responsive {
    width: 65%;
            }










/* Organization and Spacing */

 body {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }


 section {
    padding: 60px 20px;
        }

#header {
    padding-top: 150px;
        }


 .container {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
          }

.headercontainer {
   max-width: 1000px;
}








/* Footer */

 footer {
    background-color: var(--light-pink);
    color: var(--text-color);
    padding: 20px
         }


 .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none !important;
           }


 .icon {
    width: 25px;
           }

.lm {
    display: none;
        }



           
/* Buttons */

 .button {
    border-radius: 10px;
    border: 1px solid #fff5f5;
    padding: 5px 15px;
             }








/* About Page */

 .home-button {
   position: absolute;
   bottom: 20px;
   right: 20px;
          }


 .intro {
    color: var(--text-color);
    margin: 0 !important;
             }


 .intro-container {
    width: 80%;
        }


 .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 43px;
        }


 .bio {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
          }

          
 .about-header {
    position: relative;
    background-color: var(--lightmedium-pink);
          }


 .headshot {
   width: 95%;
          }


 .faq-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: var(--text-color);
             }


 .question {
    font-size: 25px;
    color: var(--text-color);
            }


 .answer-paragraph {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--text-color);
              }