

/* Fonts Linked */

@font-face {
    font-family: 'Aboreto';
    src: url('../fonts/aboreto.ttf') format('truetype');
           }

@font-face {
    font-family: 'Homemade Apple';
    src: url('../fonts/homemade-apple.ttf') format('truetype');
           }

@font-face {
    font-family: Kodchasan;
    src: url('../fonts/kodchasan.ttf') format('truetype');
}           





/* Text Fonts and Styles */

 h1 {
    font-family: 'Homemade Apple', serif;
   }


 .click {
    font-family: 'Homemade Apple', serif;
    line-height: .9;
    align-self: top;
       }


 .about {
    font-family: 'Kodchasan', serif;
       }





 nav {
    font-family: 'Kodchasan', serif;
    }


 nav a {
     text-decoration: none; color: var(--text-color)
      }


 .subtitle {
    font-family: 'Homemade Apple', serif;
    font-size: smaller;
          }


 h2 {
    font-family: 'Aboreto', serif; 
   }


 .description {
    font-family: 'Kodchasan', serif;
             }


 .bio {
    font-family: 'Kodchasan', serif;
     }


 .home-button {
    font-family: 'Kodchasan', serif;
             }
 

 a.home-button {
    text-decoration: none; color: #6A6A6A;
              }


 .question {
    font-family: 'kodchasan', serif;
       }


 .answer-paragraph {
    font-family: 'Kodchasan', serif;
       }


 .footer-text {
    font-family: 'Kodchasan', serif;
       }


 .button {
        font-family: 'Kodchasan', serif;
        }


 a.button {
        text-decoration: none; color: #fff5f5
         }

.faq-title {
    font-family: 'Aboreto', serif;
    color: #FFFFFF
       }






/* Colors */


 :root {
    --light-pink: #78545A;
    --lightmedium-pink: #9D7279;
    --medium-pink: #B98890;
    --text-color: #FDF8F8;
    --dark-text-color: #FDF8F8;
  }


 nav {
    background-color: var(--dark-text-color)
    }


 section:nth-child(even) {
    background-color: var(--lightmedium-pink);
                        }


 section:nth-child(odd) {
    background-color: var(--light-pink);
                       }


 section.about-header {
    background-color: var(--lightmedium-pink);
        }


 section#faqs {
    background-color: var(--medium-pink);
        }


 html {
    background-color: var(--light-pink);
     }




/* Nav Bar */

 .nav-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 800;
    max-width: none !important;
    position: fixed;
    width: 100%;
    background-color:var(--light-pink);
               }


 .nav-links {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;   
    justify-content: space-between;
    margin: 10px;
           }


 nav a {
    margin: 0 30px;
    padding: 10px 0;
    position: relative;
      }   


 .navlogo {
    width: 15%;

         }

.light {
    display: none;
        }


 .toggle {
    width: 5%;
        }


 .secondary {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;

       }


 .menu {
    display: none;
         }



/* Nav Bar Dropdown*/

nav {
    position: relative;
    overflow: visible; 
}

.dropdown {
    position: fixed;
    top: -1000px; 
    width: 100%;
    left: 0;
    transition: all 1s;
    margin-top: 10px;
}
   

.dropdown.show {
   z-index: 999;
    top: 80px;
    display: block;
    width: 100%;
    left: 0;
    margin-top: 10px;
}

.dropdown-style {
   display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100;
    padding: 20px;
 }

.dropdown-style a {
   font-family: 'Kodchasan', serif;
   text-decoration: none;
   color: var(--text-color);
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;}


nav a {
   width: 50% !important;
 }   


.dropdown-style {
    background-color: rgba(216, 161, 162, 0.85);}


.dropdown-style a:hover {
    background-color: var(--medium-pink);
}

   


/* Main Header */

 .cloud {
    margin: auto;
    display: block;
        }


 .click-here {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 5px;
    margin-left: 150px;
          }


 .tap-here {
    color: var(--text-color);
         }


 .about {
    padding-left: 20px;
          }


 .welcome {
    font-size: 80px;
    color: var(--text-color);
    text-align: center;
    font-weight: normal;
         }


 .click-arrow {
    display: flex;
    flex-direction: row;
          }


 span.click {
    font-size: 40px;
        }


 .tap-here {
    display: flex;
    flex-direction: row;
        }


 .arrow {
    width: 64px;
    align-self: baseline;
    rotate: 25deg;
          }

 .darkarrow {
    display: none;
        }


 .star-1 {
    width: 92px;
    position: absolute;
    top: 30%;
    left: 8%;
        }


 .star-2 {
    transform: scale(1.25);
    position: absolute;
    top: 75%;
    left: 15%;
          }


 .star-3 {
    width: 92px;
    position: absolute;
    top: 90%;
    left: 80%;
           }


 .star-4 {
    transform: scale(1.2);
    width: 92px;
    position: absolute;
    top: 20%;
    right: 20%;
            }


 .star-5 {
    transform: scale(0.5);
    position: absolute;
    top: 50%;
    right: 5%;
             }


/* Main Header Animation */

.star-1 {
  width: 100px;
  animation: twinkle1 1.6s ease-in-out infinite;
}

@keyframes twinkle1 {
  0%   { transform: scale(.9); opacity: 0.5; }
  50%  { transform: scale(1.1); opacity: 1;}
  100% { transform: scale(.9); opacity: 0.5;} }


.star-2 {
  width: 100px;
  animation: twinkle2 1.9s ease-in-out infinite;
}

@keyframes twinkle2 {
  0%   { transform: scale(.75); opacity: 1;}
  50%  { transform: scale(1); opacity: 0.5;}
  100% { transform: scale(.75); opacity: 1;} }


.star-3 {
  width: 100px;
  animation: twinkle3 1.7s ease-in-out infinite;
}

@keyframes twinkle3 {
  0%   { transform: scale(.6); opacity: 1; }
  50%  { transform: scale(.8); opacity: 0.5; }
  100% { transform: scale(.6); opacity: 1; } }


.star-4 {
  width: 100px;
  animation: twinkle4 2s ease-in-out infinite;
}


@keyframes twinkle4 {
  0%   { transform: scale(.5); opacity: 0.5; }
  50%  { transform: scale(.7); opacity: 1; }
  100% { transform: scale(.5); opacity: 0.5; } }

.star-5 {
  width: 100px;
  animation: twinkle5 2.2s ease-in-out infinite;
}

@keyframes twinkle5 {
  0%   { transform: scale(1.1); opacity: 1;}
  50%  { transform: scale(.9); opacity: 0.5;}
  100% { transform: scale(1.1); opacity: 1; } }






/* Section Gallery */

 .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: var(--dark-text-color);
         }   

        
 .subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: var(--dark-text-color);
        }

.reffy {
    display: block;
    width: 30%;
              }

 .frogreffy {
    width: 45%;
              }             

 .image {
    width: 100%;
               }            

 .gallery-image {
    width: 30%;
              }

 .gallery-image2 {
    display: block;
    width: 30%;
    
              }              


 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
        }   


 .description {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
    color: var(--dark-text-color);
         }


 .lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.trinketsize {
    width: 70%;
        }


/* Responsive Frog Design */

 .responsive {
    width: 65%;
            }










/* Organization and Spacing */

 body {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline; }


 section {
    padding: 60px 20px;
        }

#header {
    padding-top: 150px;
        }


 .container {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
          }

.headercontainer {
   max-width: 1000px;
   position: relative;
}








/* Footer */

 footer {
    background-color: var(--light-pink);
    color: var(--text-color);
    padding: 20px
         }


 .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none !important;
           }


 .icon {
    width: 25px;
           }

.lm {
    display: none;
        }



           
/* Buttons */

 .button {
    border-radius: 10px;
    border: 1px solid #fff5f5;
    padding: 5px 15px;
             }








/* About Page */

 .home-button {
   position: absolute;
   bottom: 20px;
   right: 20px;
          }


 .intro {
    color: var(--text-color);
    margin: 0 !important;
             }


 .intro-container {
    width: 80%;
        }


 .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 43px;
        }


 .bio {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #FDF8F8;
          }

          
 .about-header {
    position: relative;
    background-color: var(--lightmedium-pink);
          }


 .headshot {
   width: 95%;
          }


 





/*variables*/
              :root{
--color-primary: #B98890;
--color-text: #FFFFFF;
--color-white: #B98890;
--color-title: #242e4c;
--color-background: #9D7279;
--color-border: #dae1f5;
--transition: 0.4s ease-in-out; 
--shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05); 
}


/*FAQs*/

body {
    background-color: var(--color-background);
   
}

.wrapped{ 
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 3rem 0;
    display: grid;
    place-items: center;
}

.accordion__wrapper {
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 2.5rem;
    width: 80%;
    max-width: 50rem;
  
}


.accordion__title{
    text-align: center;
    margin-bottom: 4rem;
}

.accordion {
    border-bottom: 0.1rem solid var(--color-border);
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
} 

.accordion__icon {
    background-color: #FFFFFF;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    flex-shrink: 0;
}



.accordion__answer{
    padding: 2rem 0;
}

.accordion__content{
    overflow: hidden;
    height: 0;
    transition: var(--transition);
}
.faq-title {
    text-align: center;
    font-size: 45px;
    color: var(--text-color);
             }


 .question {
    font-size: 25px;
    color: var(--text-color);
            }


 .answer-paragraph {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--text-color);
              }




@media screen and (min-width: 580px) {
    .accordion__wrapper {
        padding: 5rem 8rem;
    }
}























