/* TABLET VIEW */
@media only screen and (max-width:1080px) {





/* TABLET HOME PAGE */

/* Tablet Nav Bar */

 .nav-links {
    display: none;
      }


 .navlogo {
    width: 50%;
    align-self: center;
    max-width: 291px;
         }


 .toggle { 
    width: 60%;
    max-width: 70px;
         }


 .menu {
    display: block;
    width: 40%;
    margin: 10px; 
      }




/* Nav Bar Dropdown*/
 

  .dropdown-style {
   display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #FDF8F8;
    align-items: center;
    width: 100%;
    padding: 20px;
 }

 .dropdown-style a {
   font-family: 'Kodchasan', serif;
   text-decoration: none;
   color: #6A6A6A;}




.dropdown.show {
    display: block;
}



/* Tablet Main Header */

 .click-arrow {
    display: flex;
    flex-direction: row;
    }


 span.click {
    font-size: 30px;
       }
 

 span.about {
    margin: 0px;
       }


 .about {
    font-size: 15px;
    margin: 20px;
    padding-left: 5px;
      }


 .arrow {
    width: 7%;
    align-self: center;
    max-width: 50px;
    }

 .cloud {
    width: 80%;
    margin-top: 20px;

      }


 .welcome {
        font-size: 65px
    }




/* Tablet Gallery*/

.title {
   font-size: 35px; 
       }

.description {
   font-size: 15px;
}



/* Tablet Footer */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
             }




/* TABLET ABOUT PAGE */

.intro {
   font-size: 25px;
}


.bio {
      font-size: 14px;
}


.home-button {
    position: absolute;
    bottom: 20px;
    right: 45px;
}


.faq-title {
   font-size: 35px;
}


.question {
   font-size: 20px;
}


.answer-paragraph {
   font-size: 13px;
}

section#faqs {
   padding-top: 35px;
}

/* Tablet End */}












/* MOBILE VIEW */
@media only screen and (max-width: 630px) {




/* HOME PAGE */


/* Mobile Nav Bar */

 .nav-links {
    display: none;
         }


 .navlogo {
    width: 40%;
    align-self: center;
         }


 .toggle { 
    width: 40%
         }


 .menu {
    display: block;
    width: 20%;
    margin: 10px; 
      }








/* Mobile Main Header */

 .click-arrow {
    display: flex;
    flex-direction: row;
      }


 span.click {
    
    font-size: 20px;
      }
 

 .about {
    font-size: 9px;
    margin: 10px;
    padding-left: 5px
      }


 .arrow {
    width: 8%;
    margin-left: 0px;
    align-self: center;
    transform: rotate(20deg);
     }


 .cloud {
    width: 80%;
    margin-top: 10px;
      }


 .welcome {
    font-size: 40px
    }

section#faqs {
   padding-top: 12px;
}






/* Mobile Gallery*/


 .title {
    font-size: 32px;
        }


 .subtitle {
    font-size: 17px;
             }


 .gallery-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%
             }


 .description {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
             }






/* Mobile Footer */







/* MOBILE ABOUT PAGE */


 .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
         }


 .intro {
    font-size: 20px;
        }


 .bio {
    font-size: 14px;
     }


 aside {
    scale: 80%;
       }


 .home-button {
    position: absolute;
    right: 50%;
    margin-right: -60px;
        }


 .faq-title {
    font-size: 30px;
          }


 .question {
    font-size: 19px;
     }


  .answer-paragraph {
    font-size: 14px;
     }

section.about-header {
    padding: 28px 32px;
}







/* Mobile End */}